{% extends "base.html" %}
{% block title %} Cargar Archivo y Fecha {% endblock %}
{% block content %}
<!-- Formulario -->
<div class="bg-white p-6 rounded-lg shadow-md max-w-md mx-auto">
    <h1 class="text-3xl font-bold text-center mb-6">Cargar Archivo y Fecha</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <!-- Campo para subir el archivo -->
        <div class="mb-4">
            <label for="file" class="block text-sm font-medium text-gray-700">Subir archivo XML</label>
            <input type="file" name="file" id="file" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2">
        </div>

        <!-- Campo para ingresar la fecha de inicio -->
        <div class="mb-4">
            <label for="fecha_inicio" class="block text-sm font-medium text-gray-700">Fecha de Inicio (yyyy-mm-dd)</label>
            <input type="date" name="fecha_inicio" id="fecha_inicio" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" required>
        </div>

        <!-- Campo para ingresar la fecha de fin -->
        <div class="mb-4">
            <label for="fecha_fin" class="block text-sm font-medium text-gray-700">Fecha de Fin (yyyy-mm-dd)</label>
            <input type="date" name="fecha_fin" id="fecha_fin" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" required>
        </div>

        <!-- Botón de enviar -->
        <div class="text-center">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
                Enviar
            </button>
        </div>
    </form>
</div>
{% endblock %}